@font-face {
    font-family: 'sabbir';
    src: url('../fonts/LiSabbirAshalota1Unicode.woff2') format('woff2'),
        url('../fonts/LiSabbirAshalota1Unicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'shadin';
    src: url('../fonts/LiShadhinataUnicode.woff2') format('woff2'),
        url('../fonts/LiShadhinataUnicode.woff') format('woff');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'shadin';
    font-weight: 100;
}