:root {
    --bg-color: #141414;
    --container: 1360px;
    --primary-color: #FF001D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: 'Manrope', sans-serif;
    color: #fff;
    height: 1000px;
}
.header__section {
    height: 680px;
    display: flex;
    justify-content: center;
}
.header__box {
    background-image: url('../images/background.png');
    width: var(--container);
    border-radius: 32px;
    padding: 48px;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(56, 53, 53);
    padding-bottom: 40px;
}
.header__bottom {
    margin-top: 60px;
}
.header__logo {
    flex: 6;
    display: flex;
    gap: 56px;
    align-items: center;
}
.logo {
    max-width: 142px;
    height: 26px;
}
.bx-menu {
    font-size: 20px;
}
.service {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 16px;
    padding: 15px 16px;
    border-radius: 8px;
    background: var(--primary-color);
}
.menu {
    flex: 6;
}
.menu__list {
    list-style: none;
    display: flex;
    gap: 56px
}

.menu__link {
    color: #fff;
    text-decoration: none;
}

.header__title {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 25px;
}
.button__box {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.header__button i {
    margin: 0px 10px; /* Add some space between the text and the icon */
}
.header__button {
    display: flex;
    align-items: center; 
    height: 61px;
    padding: 24px 40px 24px 48px;
    justify-content: center;
    gap: 4px;
    border-radius: 16px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.header__button-primary {
    background: var(--primary-color);
    
}
.header__button-tranparent {
    background: transparent;
    border: 2px solid #8e8888;
}

/* Header Section End */

/* Car Section Start */
.car__section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.cars {
    width: var(--container);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.car {
    width: 443px;
    height: 243px;
    background: #1E1E1E;
    background-image: url('../images/car-1.png');
    background-repeat: no-repeat;
    background-size: 250px 180px;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 32px;
    padding: 0px 25px;
}
.car-red {
    background: var(--primary-color);
    & .car__button {
        background: var(--bg-color);
    }
}
.car:nth-child(2){
    background-image: url('../images/car-4.png');
    background-repeat: no-repeat;
    background-size: 250px 180px;
    background-position: right bottom;
}
.car:nth-child(3){
    background-image: url('../images/car-3.png');
    background-repeat: no-repeat;
    background-size: 250px 200px;
    background-position: right bottom;
}
.car:nth-child(4){
    background-image: url('../images/car-5.png');
    background-repeat: no-repeat;
    background-size: 250px 150px;
    background-position: right bottom;
}
.car:nth-child(5){
    background-image: url('../images/car-2.png');
    background-repeat: no-repeat;
    background-size: 250px 180px;
    background-position: right bottom;
}
.car:nth-child(6){
    background-image: url('../images/car-6.png');
    background-repeat: no-repeat;
    background-size: 250px 180px;
    background-position: right bottom;
}
.car__details {
    display: flex;
    justify-content: space-between;
}
.car__title  {
    font-size: 24px;
}
.car__button {
    text-decoration: none;
    background: var(--primary-color);
    height: 30px; /* Adjust the height as needed */
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
}
.car__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Block Section Start  */
.block__section {
    display: flex;
    justify-content: center;
}
.block {
    width: var(--container);
    height: 760px;
    background: #fff;
    color: #000;
    border-radius: 32px;
}
.block__details{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    margin-top: 40px;
}
.block__title {
    font-size: 56px;
    font-weight: 700;
}
.left-arrow {
    padding: 5px 10px;
    font-size: 35px;
    color: #a59e9e;
    border-radius: 10px;
    cursor: pointer;
}
.right-arrow {
    background: var(--primary-color);
    padding: 5px 10px;
    font-size: 35px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.car__block {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.block__car-details{
    width: 264px;
    height: 314px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.block__car-details .car__title {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0px;
}
.car__show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join__us {
    height: 140px;
    margin: 40px 45px;
    background: #F5F5F5;
    display: flex;
    border-radius: 32px;
    justify-content: space-evenly;
    align-items: center;
}
.behance, 
.instagram,
.youtube {
    background: #fff;
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* Why Section Start  */
.why__section {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.why {
    background: var(--primary-color);
    width: var(--container);
    border-radius: 32px;
    display: flex;
    padding: 40px 60px;
    margin-bottom: 30px;
}
.footer__content {
    flex: 1;
}
.footer__content h1 {
    font-size: 56px;
    margin: 20px 0px;
}
.footer__content p {
    font-size: 24px;
}
.footer__details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.single-details{
    width: 260px;
    margin: 40px 10px;
}
.single-details h4 {
    margin: 10px 0px;
}
.footer__button-box {
    margin-top: 100px;
}
.footer__button {
    display: inline-flex;
    height: 61px;
    padding: 24px 40px 24px 48px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.foooter__button-primary {
    background: #fff;
    color: #000;
}
.footer__button-tranparent {
    background: transparent;
    border: 2px solid #ffffff;
}