* {

}

body {
    background-image: url('./road.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login {
    width: 400px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    color: #fff;
    padding: 50px 30px;
}
.title {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 15px 20px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border: none;
}
input:focus {
    outline: none;
    color: #fff;
}
input::placeholder {
    color: #fff;
    font-weight: bold;
}
input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.text-center {
    text-align: center;
    font-size: 16px;
}
.auth {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 7px;
    color: #fff;
    background: rgba(75, 67, 67, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(62, 59, 59, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}